@page "/counter"


<div class="row mx-2 mb-2 justify-content-md-center">
    <div class="col"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Counter</h5>
                <p class="card-text">Current count: @currentCount</p>
                <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
