@page "/dashboard"
@attribute [Authorize]
@using TodoApi.Shared.Models

<AuthorizeView>
    <div class="row mx-2 mb-2 justify-content-md-center">
        <div class="col"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hello @context.User.Identity.Name</h5>
                    <p class="card-text">This is your personal dashboard. Only you can see it.</p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</AuthorizeView>

@code{

}