@attribute [Authorize]
@using System.Net.Http
@using System.Net.Http.Json
@using TodoApi.Shared.Models
@using TodoApi.Client.Services
@inject IAuthService AuthService
@inject NavigationManager navigationManager
@inject HttpClient _httpClient


@if(!ifDelete)
{
    <p>If You want to delete your user profile, press button Delete.</p>
    <button type="button" class="btn btn-primary" @onclick="@(() => { Delete(); })">Delete</button>
}
else
{
    <p>Are You sure that You delete all your user data? This action cannot be undone later.</p>
    <button type="button" class="btn btn-danger" @onclick="@(async () => { await Confirm(); })">Confirm</button>
    <button type="button" class="btn btn-secondary" @onclick="@(() => { Cancel(); })">Cancel</button>
}
                

@code{
    private bool ifDelete = false;
    
    private async Task Confirm()
    {
        var response = await _httpClient.DeleteAsync("/Account/Delete");
        var content = await response.Content.ReadFromJsonAsync<MessageViewModel>();
        await AuthService.Logout();
        navigationManager.NavigateTo("/");
    }

    private void Cancel()
    {
        ifDelete = false;
    }
    private void Delete()
    {
        ifDelete = true;
    }
}