<header class="jumbotron text-center mb-0">
    <h1 class="display-4">TODOtNET - a Blazor Webassembly app</h1>
    <p class="lead">An ASP.NET Core hosted full-stack C# single-page web application</p>
</header>