@using TodoApi.Client.Services
@inject NavigationManager navigationManager
@inject IAuthService AuthService

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand">TOdotNET</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <AuthorizeView>
        <Authorized>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/counter" class="nav-item nav-link">Counter</a>
                    <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="/" @onclick="@(async () => { await Logout(); })" class="nav-item nav-link">Logout</a>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link">Home</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="/register" class="nav-item nav-link">Register</a>
                    <a href="/login" class="nav-item nav-link">Login</a>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</nav>

@code {
    private async Task Logout()
    {
        await AuthService.Logout();
    }
}