<nav class="mx-2">
    <RadzenMenu class="d-flex">
        <RadzenMenuItem Text="Home" Path="/" Icon="home"></RadzenMenuItem>
        <RadzenMenuItem Text="Counter" Path="/counter"></RadzenMenuItem>
        <RadzenMenuItem Text="Fetch data" Path="/fetchdata"></RadzenMenuItem>
        <RadzenMenuItem class="ml-auto" Text="Login" Path="/login" Icon="account_circle"></RadzenMenuItem>
        <RadzenMenuItem Text="Register" Path="/register" Icon="add_circle"></RadzenMenuItem>
    </RadzenMenu>
</nav>

@code {

}